
.container {
    text-align: center;
}

.form {
    display: inline-block;
    text-align: left;
    width: 30em;
}

.arrow {
    font-weight: bold;
    font-size: xx-large;
}

.ratioLine {
    line-height: 1.5;
    padding: .375rem .75rem;
    width: 40%;
    border-color:#dee2e6;
    border-radius: 10%;
    border-style: solid;
}

.deleteButton {
    float: right;
}