.panel {
    border: 1px, solid, #c7c6c6;
    border-radius: 4px;
    max-width: 1500px;
    margin: 5px;
}

.activityPanel {
    border: 1px, solid, #c7c6c6;
    border-radius: 4px;
    max-width: 1200px;
    margin: 5px;
    text-align: center;
}

.buttonRow {
    margin-top: 1em;
}

.container {
    text-align: center;
}

.editActivityForm {
    display: inline-block;
    text-align: left;
    width: 30em;
}

.toolbarButton {
    margin-left: 1em;
}
